---
layout: recap
title: BITS '18 Recap
comp: bits18
css: recap
js: recap
---

<div class="main-header">
  <div class="intro">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading">&lt;BITS '18/&gt;</div>
        <div class="intro-sub">[Recap site;]</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services"
          style="visibility:hidden">Explore</a>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="wave1">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#000000" fill-opacity="0.2"
      d="M0,160L20,186.7C40,213,80,267,120,277.3C160,288,200,256,240,256C280,256,320,288,360,261.3C400,235,440,149,480,122.7C520,96,560,128,600,128C640,128,680,96,720,106.7C760,117,800,171,840,176C880,181,920,139,960,106.7C1000,75,1040,53,1080,48C1120,43,1160,53,1200,101.3C1240,149,1280,235,1320,245.3C1360,256,1400,192,1420,160L1440,128L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z">
    </path>
  </svg>
</div>

<div class="wave2">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#141517" fill-opacity="1"
      d="M0,160L20,186.7C40,213,80,267,120,277.3C160,288,200,256,240,256C280,256,320,288,360,261.3C400,235,440,149,480,122.7C520,96,560,128,600,128C640,128,680,96,720,106.7C760,117,800,171,840,176C880,181,920,139,960,106.7C1000,75,1040,53,1080,48C1120,43,1160,53,1200,101.3C1240,149,1280,235,1320,245.3C1360,256,1400,192,1420,160L1440,128L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z">
    </path>
  </svg>
</div>

<img src="./img/bits-ui/bits2018.png" class="website-img" alt="bits18">

<div class="open">
  <span class="material-icons">
    open_in_new
  </span>
</div>

{% assign detail = site.data.info[page.comp] %}
<div class="section info">
  <div class="container text-center">
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-user fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{{ detail.registered }}+ students</h4>
        <p class="text-muted">{{ detail.registered }}+ Young Anandians have been able to participate in BITS and
          {{ detail.participants }}+ out of them were able to successfully carry out their work throughout the
          competition</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{{ detail.completed_tasks }}+ Tasks</h4>
        <p class="text-muted">{{ detail.completed_tasks }}+ bla bla bla {{ detail.tasks }} tasks completed until now
          from blog posts, designing logos to creating websites about developing FOSS.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-id-badge fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{{ detail.mentors }} mentors</h4>
        <p class="text-muted">The Staff of Mentors created an environment in which particpants were able to smoothly run
          along the competition
          with the help, assistance and enthusiasm of our mentors.</p>
      </div>
    </div>
  </div>
  </section>


  <div class="sidebar stickySidebar">
    <div class="linkbarsec">
    <div class="linkbar">
      <h2 class="text">
        C
      </h2>
      <h5 class="subtext">
        Code
      </h5>
    </div>
    <div class="linkbar">
      <h2 class="text">
        D
      </h2>
      <h5 class="subtext">
        Design
      </h5>
    </div>
    <div class="linkbar">
      <h2 class="text">
        E
      </h2>
      <h5 class="subtext">
        Explore
      </h5>
    </div>
  </div>
<div class="otherlinksec">
    <div class="other-link">
      Leaderboard
    </div>
    <div class="other-link">
      Students
    </div>
    <div class="other-link">
      Mentors
    </div>
  </div>
  </div>

  {% assign stats_code = site.data.competitions[page.comp].projects_code %}
  <div class="section tasks" id="tasks">
    <div class="container text-center">
      <div class="justify-content-md-center">
        <h1 class="title" id="about">
          <br>Tasks : Code; ({{stats_code | size}})</h1>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for projects_code in site.data.competitions[page.comp].projects_code %}
        <div class="col">
          <div class="card" style="margin:5px;">
            <img src="./img/{{ page.comp }}/projects_code/{{ projects_code.image }}.jpeg" class="card-img-top"
              alt="image">
            <h5 class="card-title">{{projects_code.name}}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="text-align:left;">Name: <b>{{ projects_code.student }}</b></li>
              <li class="list-group-item" style="text-align:left;">Grade: <b>{{ projects_code.grade }}</b></li>
              <li class="list-group-item" style="text-align:left;">Description: <b>{{ projects_code.description }}</b>
              </li>
            </ul>
            {% if projects_code.link %}
            <a class="btn btn-l text-uppercase js-scroll-trigger" href="{{projects_code.link}}" target="_blank">View
              project</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% assign stats_design = site.data.competitions[page.comp].projects_design %}
  <div class="section tasks" id="tasks">
    <div class="container text-center">
      <div class="justify-content-md-center">
        <h1 class="title" id="about">
          <br>Tasks : Design; ({{stats_design | size}})</h1>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for projects_design in site.data.competitions[page.comp].projects_design %}
        <div class="col">
          <div class="card" style="margin:5px;">
            <img src="./img/{{ page.comp }}/projects_design/{{ projects_design.image }}.png" class="card-img-top"
              alt="image">
            <h5 class="card-title">{{projects_design.name}}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="text-align:left;">Name: <b>{{ projects_design.student }}</b></li>
              <li class="list-group-item" style="text-align:left;">Grade: <b>{{ projects_design.grade }}</b></li>
              <li class="list-group-item" style="text-align:left;">Description: <b>{{ projects_design.description }}</b>
              </li>
            </ul>
            {% if projects_design.link %}
            <a class="btn btn-l text-uppercase js-scroll-trigger" href="{{projects_design.link}}" target="_blank">View
              project</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% assign stats_explore = site.data.competitions[page.comp].projects_explore %}
  <div class="section tasks" id="tasks">
    <div class="container text-center">
      <div class="justify-content-md-center">
        <h1 class="title" id="about">
          <br>Tasks : Explore; ({{stats_explore | size}})</h1>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for projects_explore in site.data.competitions[page.comp].projects_explore %}
        <div class="col">
          <div class="card" style="margin:5px;">
            <img src="./img/{{ page.comp }}/projects_explore/{{ projects_explore.image }}.jpeg" class="card-img-top"
              alt="image">
            <h5 class="card-title">{{projects_explore.name}}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="text-align:left;">Name: <b>{{ projects_explore.student }}</b></li>
              <li class="list-group-item" style="text-align:left;">Grade: <b>{{ projects_explore.grade }}</b></li>
              <li class="list-group-item" style="text-align:left;">Description:
                <b>{{ projects_explore.description }}</b></li>
            </ul>
            {% if projects_explore.link %}
            <a class="btn btn-l text-uppercase js-scroll-trigger" href="{{projects_explore.link}}" target="_blank">View
              project</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="section students" style="margin-top:50px;" id="students">
    <div class="container text-center">
      <div class="justify-content-md-center">
        <h1 class="title">
          <br>Leaderboard</h1>
      </div>

      <table class="table table-hover table-striped table-leaderboard table-borderless">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

  <div class="section students" style="margin-top:50px;" id="students">
    <div class="container text-center">
      <div class="justify-content-md-center">
        <h1 class="title">
          <br>Winners</h1>
      </div>

      <table class="table table-hover table-striped table-leaderboard table-borderless">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>


  <div class="section students" style="margin-top:50px;" id="students">
    <div class="container text-center">
      <div class="justify-content-md-center">
        <h1 class="title">
          <br>Students</h1>
      </div>

      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
        {% for student in site.data.competitions[page.comp].students %}
        <div class="col student-card">
          <div class="student">
            <img class="mx-auto img-student" src="./img/{{ page.comp }}/students/{{student.image}}.jpeg" alt="image">
            <h4 class="name">{{student.name}}</h4>
            <p class="text-muted">{{student.class}} (2018)</p>
            <ul class="list-inline social-buttons">
              {% if student.github %}
              <li class="list-inline-item">
                <a href="https://github.com/{{student.github}}" target="blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="section students" style="margin-top:50px;" id="mentors">
    <div class="container text-center">
      <div class="justify-content-md-center">
        <h1 class="title">
          <br>Mentors</h1>
      </div>


      <div class="row row-cols-2 row-cols-lg-3">
        {% for mentor in site.data.competitions[page.comp].mentors %}
        <div class="col student-card">
          <div class="student">
            <img class="mx-auto img-student" src="./img/{{ page.comp }}/mentors/{{mentor.image}}.jpg" alt="image">
            <h4 class="name">{{mentor.name}}</h4>
            <p class="text-muted class">Grade: {{mentor.class}} (2018)</p>
            <p class="place">{{ mentor.description }}</p>
            <ul class="list-inline social-buttons">
              {% if mentor.github %}
              <li class="list-inline-item">
                <a href="https://github.com/{{mentor.github}}" target="blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              {% endif %}
              {% if mentor.twitter %}
              <li class="list-inline-item">
                <a href="https://twitter.com/{{mentor.twitter}}" target="blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              {% endif %}
              {% if mentor.facebook %}
              <li class="list-inline-item">
                <a href="https://facebook.com/{{mentor.facebook}}" target="blank">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              {% endif %}
              {% if mentor.instagram %}
              <li class="list-inline-item">
                <a href="https://www.instagram.com/{{mentor.instagram}}" target="blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="wave3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#212529" fill-opacity="0.2"
        d="M0,64L14.1,101.3C28.2,139,56,213,85,229.3C112.9,245,141,203,169,160C197.6,117,226,75,254,69.3C282.4,64,311,96,339,96C367.1,96,395,64,424,58.7C451.8,53,480,75,508,122.7C536.5,171,565,245,593,272C621.2,299,649,277,678,245.3C705.9,213,734,171,762,165.3C790.6,160,819,192,847,186.7C875.3,181,904,139,932,133.3C960,128,988,160,1016,165.3C1044.7,171,1073,149,1101,149.3C1129.4,149,1158,171,1186,165.3C1214.1,160,1242,128,1271,122.7C1298.8,117,1327,139,1355,165.3C1383.5,192,1412,224,1426,240L1440,256L1440,320L1425.9,320C1411.8,320,1384,320,1355,320C1327.1,320,1299,320,1271,320C1242.4,320,1214,320,1186,320C1157.6,320,1129,320,1101,320C1072.9,320,1045,320,1016,320C988.2,320,960,320,932,320C903.5,320,875,320,847,320C818.8,320,791,320,762,320C734.1,320,706,320,678,320C649.4,320,621,320,593,320C564.7,320,536,320,508,320C480,320,452,320,424,320C395.3,320,367,320,339,320C310.6,320,282,320,254,320C225.9,320,198,320,169,320C141.2,320,113,320,85,320C56.5,320,28,320,14,320L0,320Z">
      </path>
    </svg>
  </div>

  <div class="wave4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#343a40" fill-opacity="1"
        d="M0,64L14.1,101.3C28.2,139,56,213,85,229.3C112.9,245,141,203,169,160C197.6,117,226,75,254,69.3C282.4,64,311,96,339,96C367.1,96,395,64,424,58.7C451.8,53,480,75,508,122.7C536.5,171,565,245,593,272C621.2,299,649,277,678,245.3C705.9,213,734,171,762,165.3C790.6,160,819,192,847,186.7C875.3,181,904,139,932,133.3C960,128,988,160,1016,165.3C1044.7,171,1073,149,1101,149.3C1129.4,149,1158,171,1186,165.3C1214.1,160,1242,128,1271,122.7C1298.8,117,1327,139,1355,165.3C1383.5,192,1412,224,1426,240L1440,256L1440,320L1425.9,320C1411.8,320,1384,320,1355,320C1327.1,320,1299,320,1271,320C1242.4,320,1214,320,1186,320C1157.6,320,1129,320,1101,320C1072.9,320,1045,320,1016,320C988.2,320,960,320,932,320C903.5,320,875,320,847,320C818.8,320,791,320,762,320C734.1,320,706,320,678,320C649.4,320,621,320,593,320C564.7,320,536,320,508,320C480,320,452,320,424,320C395.3,320,367,320,339,320C310.6,320,282,320,254,320C225.9,320,198,320,169,320C141.2,320,113,320,85,320C56.5,320,28,320,14,320L0,320Z">
      </path>
    </svg>
  </div>